div.main-page {
    text-align: center;
    padding: 2rem;
  margin-top: 10%;
  margin-right: 10px;

  button {
    margin: 1rem;
  }
}

.welcome-buttons {
  background-color: grey;
  margin: 10px;
  color: #fff;
  }